<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <!-- Allow anonymous access -->
    <authorization>
      <allow users="*" />
    </authorization>
  </system.web>
  
  <system.webServer>
    <!-- Set orcs.html as default document -->
    <defaultDocument>
      <files>
        <clear />
        <add value="orcs.html" />
      </files>
    </defaultDocument>
    
    <!-- Ensure proper MIME types -->
    <staticContent>
      <mimeMap fileExtension=".js" mimeType="application/javascript" />
      <mimeMap fileExtension=".json" mimeType="application/json" />
    </staticContent>
  </system.webServer>
</configuration>